# gerber ファイルは無視する
*.drl
*.gbl
*.gbs
*.gbp
*.gbo
*.gm1
*.gtl
*.gts
*.gtp
*.gto
# KiCad のバックアップフォルダは無視する
*-backups
# KiCad JLCPCB plugin のフォルダは無視する
production
# Inventorのバックアップフォルダは無視する
OldVersions
# stl ファイルは無視する
*.stl
